{% extends "voip/base.html" %}{% block title %}Extension edit{% endblock %}{% block content %}{% if form.errors %}{{ form.errors }}{% endif %}
	<form action="." method="post" name="update_voip_form" onsubmit="return verifyForm(this);">
	{% csrf_token %}
	<table>
		<tr>
			<th align="right" valign="top">Voicemail</th>
			<td>{{ form.voicemail }}</td>
		</tr>
		<tr>
			<th align="right" valign="top">Voicemail PIN</th>
			<td>{{ form.voicemail_pin }}</td>
		</tr>
		<tr>
			<th align="right" valign="top">Voicemail Delay</th>
			<td>{{ form.voicemail_delay }}</td>
		</tr>
		<tr>
			<th align="right" valign="top">E-Mail Notify</th>
			<td>{{ form.voicemail_emailnotify }}</td>
		</tr>
		<tr>
			<th align="right" valign="top">Telefonbuch</th>
			<td>{{ form.phonebook }}</td>
		</tr>
		<tr>
			<th align="right" valign="top">&nbsp;</th>
			<td><input type="submit" name="submit" value="&Auml;ndern" /></td>
		</tr>
	</table>
	</form>
{% endblock %}
