{% extends "voip/base.html" %}{% block title %}Willkommen{% endblock %}{% block content %}
	Willkommen im VoIP Frontend ...
	<br>
	<div style="padding: 15px; margin: 20px; border: 1px solid lightblue; background-color: #55aaff; font-weight: bold; display: block; width: 600px;">
		Feature-Requests: (sind gerne gesehen auf <a href="mailto:voip-dev@lists.funkfeuer.at?subject=Feature-Request">voip-dev@lists.funkfeuer.at</a>)
		<ul>
			<li>ausgehende Anrufe (momentan evtl. nur anonym machbar)
			<li>neue HTML-Templates bzw. neues Design?
		</ul>
		<br>
		ToDo: {{ foo }}
		<ul>
		</ul>
	</div>
{% endblock %}
