{% extends "voip/base.html" %}

{% block title %}Willkommen{% endblock %}

{% block content %}
Willkommen ...
<br>
<div style="padding: 15px; margin: 20px; border: 1px solid lightblue; background-color: #55aaff; font-weight: bold; display: block; width: 600px;">
Feature-Requests:
<ul>
 <li>error message on wrong deletion order of extensions (sipusers first)
 <li>userinfo: show ldap-info too
 <li>new html-templates/design?
 <li>outboundc calls (anonymous only atm)?
</ul>
<br>
ToDo:
<ul>
 <li>when adding extension, select one unused not changed a month
</ul>
</div>
{% endblock %}
