{% extends "voip/base.html" %}{% block title %}Sipuser edit{% endblock %}{% block content %}{% if form.errors %}{{ form.errors }}{% endif %}
        <form action="." method="post" name="update_voip_sip_form" onsubmit="return verifyForm(this);">
        {% csrf_token %}
        <table>
                <tr>
                        <th align="right" valign="top">Secret<br><input type="checkbox" name="reset_pw" />reset</th>
                        <td>{{ sipuser.secret }}</td>
                </tr>
                <tr>
                        <th align="right" valign="top">NAT</th>
                        <td>{{ form.nat }}</td>
                </tr>
                <tr>
                        <th align="right" valign="top">DTMF Mode</th>
                        <td>{{ form.dtmfmode }}</td>
                </tr>
                <tr>
                        <th align="right" valign="top">&nbsp;</th>
                        <td><input type="submit" name="submit" value="&Auml;ndern" /></td>
                </tr>
        </table>
        </form>
{% endblock %}

