{% extends "voip/base.html" %}{% block title %}Benutzerdaten{% endblock %}{% block content %}
	Benutzerdaten in Datenbank: [<a href="https://marvin.funkfeuer.at/frontend_wien/index.php?section=member&action=update&id={{ member.id }}">Update</a>]
	<table>
		<tr><th align="right" valign="top">Benutzer-ID</th><td>{{ member.id }}</td><!-- request.user.id: {{ request.user.id }} - member.id: {{ member.id }} --></tr>
		<tr><th align="right" valign="top">Nickname</th><td>{{ member.nickname }}</td></tr>
		<tr><th align="right" valign="top">Passwort</th><td>{{ member.password }}</td></tr>
		<tr><th align="right" valign="top">Vorname</th><td>{{ member.firstname }}</td></tr>
		<tr><th align="right" valign="top">Nachname</th><td>{{ member.lastname }}</td></tr>
		<tr><th align="right" valign="top">Strasse</th><td>{{ member.street }}</td></tr>
		<tr><th align="right" valign="top">Hausnummer</th><td>{{ member.housenumber }}</td></tr>
		<tr><th align="right" valign="top">PLZ</th><td>{{ member.zip }}</td></tr>
		<tr><th align="right" valign="top">Ort</th><td>{{ member.town }}</td></tr>
		<tr><th align="right" valign="top">Telefon</th><td>{{ member.telephone }}</td></tr>
		<tr><th align="right" valign="top">Handy</th><td>{{ member.mobilephone }}</td></tr>
		<tr><th align="right" valign="top">Fax</th><td>{{ member.fax }}</td></tr>
		<tr><th align="right" valign="top">E-Mail</th><td>{{ member.email }}</td></tr>
		<tr><th align="right" valign="top">Homepage</th><td><a href="{{ member.homepage }}">{{ member.homepage }}</a></td></tr>
	</table>
	<br>
	Benutzerdaten in LDAP-Verzeichnis: {{ ldapuser.dn }}
	<table>
		<tr><th align="right" valign="top">uid</th><td>{{ ldapuser.uid }}</td>
		<tr><th align="right" valign="top">cn</th><td>{{ ldapuser.cn }}</td>
		<tr><th align="right" valign="top">sn</th><td>{{ ldapuser.sn }}</td>
		<tr><th align="right" valign="top">givenName</th><td>{{ ldapuser.givenName }}</td>
		<tr><th align="right" valign="top">userPassword</th><td>{{ ldapuser.userPassword }}</td>
		<tr><th align="right" valign="top">shadowLastChange</th><td>{{ ldapuser.shadowLastChange }}</td>
		<tr><th align="right" valign="top">shadowMax</th><td>{{ ldapuser.shadowMax }}</td>
		<tr><th align="right" valign="top">shadowWarning</th><td>{{ ldapuser.shadowWarning }}</td>
		<tr><th align="right" valign="top">loginShell</th><td>{{ ldapuser.loginShell }}</td>
		<tr><th align="right" valign="top">uidNumber</th><td>{{ ldapuser.uidNumber }}</td>
		<tr><th align="right" valign="top">gidNumber</th><td>{{ ldapuser.gidNumber }}</td>
		<tr><th align="right" valign="top">homeDirectory</th><td>{{ ldapuser.homeDirectory }}</td>
		<tr><th align="right" valign="top">gecos</th><td>{{ ldapuser.gecos }}</td>
		<tr><th align="right" valign="top">mail</th><td>{{ ldapuser.mail }}</td>
		<tr><th align="right" valign="top">l</th><td>{{ ldapuser.l }}</td>
		<tr><th align="right" valign="top">telephoneNumber</th><td>{{ ldapuser.telephoneNumber }}</td>
	</table>
{% endblock %}
