* {
	font-family: Verdana; Helvetica; Optima; Helvetica Neue; Monaco; Andale Mono; Georgia; Verdana;
	font-size: 9pt;
}

table tr th, table tr td {
	width: 80px;
	padding-left: 10px;
	padding-right: 10px;
        padding-top: 2px;
        padding-bottom: 2px;
}
table tr th {
	background: #ccccff;
        
}
table tr td {
	background: #dddcff;
        
}

table caption {
	text-align: left;
	margin-bottom: 5px;
}

table.help {
	margin-top: 25px;
}

table.help tr td {
	width: 300px; 
	text-align: left; 
	vertical-align: top; 
	padding-left: 15px;
	padding-top: 5px;
	padding-right: 15px;
}

table.help tr td li {
	margin-bottom: 0.5em;
	margin-left: 15px;
}

h1 {
	font-size: 25px;
}

hr {
	border: 1px solid #aaa;
}

.formFailure {
	display: block;
	border: 1px dashed #f00;
	margin-top: 15px;
	color: #f00;
	padding: 5px;
}
.formSuccess {
	display: block;
	border: 1px dashed #690;
	margin-top: 15px;
	color: #690;
	padding: 5px;
}
.debugMessage {
	display: block;
	border: 1px dashed #f63;
	margin-top: 15px;
	color: #f63;
	padding: 5px;
}
body {
	/*reserve space for the footer*/
	padding-bottom:15px;
}
.footer {
	clear: both;
	padding: 0;
	position: fixed;
	bottom: 0px;
	background: white;
	width: 100%;
}
